{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<h2>Rules</h2>

<ol>
<li>Each person participating in Secret Santa will receive a gift, but he/she doesn't know who is the Santa</li>
<li>Each person participating in Secret Santa will give a gift, and he/she knows whom will receive his/her gift</li>
<li>No one can be his/her own Santa</li>
<li>Same budget applied for all gifts: HKD 200 to 250</li>
<li>People will reveal gifts at same time and guess who is his/her secret santa</li>
<li>No "to - from" message allowed in any form before Santa is announced - <b>do not indicate who gave the gift</b></li>
<li>No prize guaranteed for those who guesses the secret Santa correctly - but no harm asking your Santa</li>
<li>Penalty applied for who guesses your Santa incorrectly - again please ask your Santa</li>
</ol>
 
<h4>Misc</h4>
<ol>
<li>All gifts MUST be wrapped in gift paper (no pouch, no newspaper)</li>
<li>As there is no guarantee that gift will not be revealed at MS premise, please make sure all gifts following MS code of conduct and HR policies (be extra careful about DVDs which are not in English...)</li>
<ol>

<p><center><img src="/static/graphics-christmas-reindeer-910371.gif"/></center></p>

{% endblock %}


