{% extends "base.html" %}
{% block title %}Santa{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<h2>Secret Santa</h2>

<p>{{giver_forename}},</p>

<p>You will be the Secret Santa for...</p>

<p><b>{{recipient_full_name}}</b></p>

<p>Now go to the <a href="/wishlist">wishlist</a> to enter what you would like (anonymously of course) and maybe pick something off the list that {{recipient_forename}} wants.</p>

<hr/>

<p>The maximum spending limit is <b>HKD 250</b>.</p>

<p>The COO will let us know how to deliver presents before the dinner.</p>

<p>Please keep it secret!</p>

<p>See the <a href="/rules">rules</a> for the more information.</p>

<p><center><img src="/static/graphics-christmas-reindeer-363872.gif"/></center></p>

{% endblock %}