{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .warning { color: red; }
    </style>
{% endblock %}
{% block content %}

<h2>Welcome to the Secret Santa website</h2>

<p><a href="{{ url_for("recipient") }}" class="btn btn-primary">Login</a></p>

<p>

<form class="form-horizontal" action="{{ url_for("password_request") }}" method="POST">

<input type="hidden" name="from_page" value="{{from_page}}" />

<fieldset>

<!-- Form Name -->
<legend>Request Password</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="username">E-Mail</label>
  <div class="controls">
    <input id="username" name="username" type="text" placeholder="e-mail" class="input-xlarge" required="">
    <p class="help-block">Long MS e-mail (e.g. Forename.Surname@morganstanley.com)</p>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button class="btn btn-primary" type="submit">Request</button>
  </div>
</div>

</fieldset>
</form>

</p>

{%if message %}<p><div class="{{message_level}}">{{message}}</div></p>{%endif%}

<p><center><img src="/static/graphics-christmas-reindeer-910371.gif"/></center></p>

{% endblock %}


