{% extends "base.html" %}
{% block title %}Wishlist{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<h2>Wishlist</h2>

<p>This is the anonymous list of items requested by the other Secret Santas.  You <i>may</i> choose to buy something from this list, but it's <i>not</i> obligatory.</p>

<p>Can you guess what {{recipient_forename}} has requested?</p>
<hr/>
<ul>
{% for wish in wishlist if wish != user_wish %}
    <li>{{wish}}</li>
{% endfor %}
</ul>

<hr/>

<p>
{% if user_wish %}
Your wishlist request is: <span class="important">{{user_wish}}</span>
{% else %}
Choose your wishlist request:
{% endif %}
</p>

<p>
<form class="form-horizontal" action="/secret-santa/wishlist" method="POST">
<input id="user_wish" name="user_wish" type="text" placeholder="wish" class="input-xlarge" required="" value="{{user_wish}}"/>
<button class="btn btn-primary" type="submit">Update</button>
</form>
</p>

<div class="important">{{message}}</div>

<p><center><img src="/static/graphics-christmas-reindeer-717530.gif"/></center></p>

{% endblock %}